*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    max-width: 900px;
}

.header li{
    display: inline-block;
    padding: 35px;
}

.header{
    background-color: rgb(81, 81, 81);
    font-family: 'Roboto', sans-serif;
}

.header a{
    text-decoration: none;
    color: #FFFFFF;
}

.list-1{
    position: relative;
}

.list-1 li a:hover{
    color: aqua;
}

.list-2 li a:hover{
    color: aqua;
    display: block;
}

.list-2{
    position: absolute;
    display: none;
}

